.wrapper {
    margin-top: 22px;

}
.home{
    background-color: #1F7A4F;
    background-image: url(https://hoanghamobile.com/Content/xmas2023/bg.png);
}
.main-section {
    justify-content: space-between;
    margin-top: 22px !important;
    .slick-next{
        right: 45px !important;
    }
    .slick-prev{
        z-index: 9;
        left: 25px !important;
    }
}
.row-slider {
    position: relative;
    margin-bottom: 12px;
}
.container {
}
.sidebar{
    position: absolute;
    top:40px;
    z-index: 99;
    width: 90%;
    margin: 0 5%;
    .menu-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
        padding: 10px;
        box-shadow:0 1px 6px rgba(189, 189, 189, 0.3);
        border-radius: 8px;
         img {
            border-radius: 8px;
            transition: transform 0.3s ease; /* Hiệu ứng chuyển động */
        }
        
        :hover img {
            transform: scale(1.2); /* Tăng kích thước lên 120% khi hover */
        }
    }
}



.sliderHome{
    padding: 0 40px;
    img{
        border-radius: 8px;
    }
}

.list-ad{
    padding: 0 40px;
}